/* 
CSS属性书写顺序（重点）
建议遵循以下顺序：
!1.布局定位属性：display/position/float./clear，/visibility/overflow（建议display第一个写，毕竟关系到模式）
!2.自身属性：width/height./margin/padding/border，/background
!3.文本属性：color/font/text-decoration/text-align/vertical-align./white-space/break-word
!4.其他属性（CSS3）：content/cursor/border-radius/box-shadow/text-shadow/background：linear-gradient. 
*/

* {
    margin: 0;
    padding: 0;
}

/* 清除浮动 */
.clearfix:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    /* 触发 hasLayout */
    zoom: 1;
}

/* 设置版心 */
.w {
    width: 1200px;
    margin: auto;
}

body {
    background-color: #f3f5f7;
}

/* 头部盒子 */
.header {
    height: 42px;
    /* 这里会层叠w中的margin元素 */
    margin: 30px auto;
}

/* logo部分 */
.logo {
    float: left;
    width: 198px;
    height: 42px;
}

/* 去除所有li标签的小原点 */
li {
    list-style: none;
}

/* 清除链接样式 */
a {
    text-decoration: none;
}

/* 导航部分 */
.leader {
    float: left;
    margin-left: 60px;
}

.header ul li {
    float: left;
    margin-left: 15px;
}

/* 导航栏链接属性 */
.header ul li a {
    display: inline-block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.header ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

/* 搜索模块 */
.search {
    float: left;
    width: 412px;
    /* height: 42px; */
    margin-left: 50px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    border: 0;
    background-color: #00a4ff;
    background-image: url(../images/search.png);
}

/* 用户栏 */
.user {
    float: right;
    margin-right: 36px;
    font-size: 14px;
    color: #666666;
}

/* 图片和文字垂直对齐 */
.user img {
    vertical-align: middle;
}

.user span {
    vertical-align: middle;
}

/* banner */
.banner {
    height: 420px;
    margin: 20px auto 0;
    background-color: #1c036c;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* banner left  */
.banner .w .left {
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.3);
}

.banner .w .left .list li {
    height: 45px;
    line-height: 45px;
    padding: 0px 20px;
}

.banner .w .left .list li a {
    font-size: 14px;
    color: #ffffff;
}

.banner .w .left .list li a span {
    float: right;
}

.banner .w .left .list li a:hover {
    color: #00a4ff;
}

/* banner right */
.banner .w .right {
    float: right;
    width: 230px;
    height: 300px;
    margin-top: 50px;
    background-color: royalblue;
}

.banner .w .right .boxtop {
    width: 230px;
    height: 48px;
    color: #ffffff;
    text-align: center;
    line-height: 48px;
    background-color: #9bceea;
    font-size: 18px;
}

.banner .w .right .boxunder {
    width: 230px;
    height: 252px;
    background-color: #fff;
}

.banner .w .right .boxunder .boxtop1 li h2 {
    float: left;
    width: 200px;
    height: 49px;
    margin: 18px 14px 0;
    border-bottom: 1px solid #eaeaea;
    font-size: 14px;
    font-weight: 400;
    color: #4e4e4e;
}

.banner .w .right .boxunder .boxtop1 li h2 span {
    font-size: 12px;
    color: #a5a5a5;
}

.banner .w .right .boxunder button {
    width: 200px;
    height: 38px;
    margin: 6px 15px 0;
    background-color: #fff;
    color: #00a4ff;
    border: 1px solid #00a4ff;
    font-size: 16px;
}

/* 精品推荐模块 */
.boutique {
    height: 60px;
    margin-top: 10px;
    box-shadow: 0 5px 3px #dcdee0;
}

.boutique .left {
    float: left;
    width: 900px;
    height: 60px;
}

.boutique .left .internal li {
    display: inline-block;
    height: 20px;
    padding: 0px 34px;
    margin: 20px 0;
    border-left: 1px solid #bfbfbf;
}

.internal li a {
    color: #050505;
    font-size: 16px;
}

.internal li a:hover {
    color: #00a4ff;
}

/* 精品推荐 */
.boutique .left .internal .first {
    border: 0;
}

.boutique .right {
    float: right;
}

.boutique .right a {
    float: right;
    margin: 22px 62px 22px 0;
    font-size: 14px;
    color: #050505;
}

.boutique .right a:hover {
    color: #00a4ff;
}

/* 精品推荐内容模块 */
.boutiqueContent1 {
    height: 600px;
    float: left;
    margin-top: 35px;
}

.boutiqueContent1 .top {
    height: 20px;
}

.boutiqueContent1 .top p {
    float: left;
    width: 130px;
    height: 20px;
    line-height: 20px;
    color: #494949;
    font-size: 20px;
}

.boutiqueContent1 .top a {
    float: right;
    width: 70px;
    height: 20px;
    margin-top: 5px;
    color: #a5a5a5;
    font-size: 12px;
}

.boutiqueContent1 .top a:hover {
    color: #00a4ff;
}

.boutiqueContent1 .under {
    height: 560px;
    width: 1225px;
    margin-top: 20px;
}

.boutiqueContent1 .under .box1 img {
    position: absolute;
    right: -4px;
}

.boutiqueContent1 .under ul li {
    position: relative;
    float: left;
    width: 228px;
    height: 270px;
    margin: 0 15px 10px 0;
    background-color: #ffffff;
}

.boutiqueContent1 .under .box1 {
    background-image: url(../images/thinkPHP.png);
    background-repeat: no-repeat;
    background-size: 228px 152px;
}

.boutiqueContent1 .under .box1 .hot1 {
    float: right;
    margin-top: 3px;
}

.boutiqueContent1 .under .box1 h3 {
    margin: 180px 22px 0;
    font-size: 14px;
    font-weight: 400;
    color: #050505;
}


.boutiqueContent1 .under .box1 span {
    display: inline;
    margin-left: 22px;
    font-size: 12px;
    color: #ff7c2d;
}

.boutiqueContent1 .under .box1 p {
    display: inline-block;
    width: 120px;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    color: #999999;
}

.boutiqueContent1 .under .box1 p i {
    display: inline-block;
    height: 3px;
    width: 3px;
    margin: 4px 8px;
    background-color: #999999;
    border-radius: 50%;
}